### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# public
public

# Node modules
node_modules

# Coverage directory
coverage

# Optional npm cache directory
.npm
.rpt2_cache

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.local
cypress.env.json

# Ignore cypress debug screenshots
cypress/screenshots
cypress/videos

# Ignore generated reports
cypress/reports

# OSX
.DS_Store

# Cypress cache
/cache

# Jest cache
jest-cache

# Segment
src/analytics/*
!src/analytics/plan.json
!src/analytics/__mocks__

# Cypress accessibility audit report
/cypress/reports

# Snyk cache
.dccache
