<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Employer Portal Remote | Guild</title>
    <meta name="author" content="Guild Education" />
    <meta name="robots" content="noindex,nofollow" />
    <link
      rel="apple-touch-icon"
      href="https://recess-images.imgix.net/icons/favicon.png?w=57"
      sizes="57x57"
    />
    <link rel="icon" href="https://recess-images.imgix.net/icons/favicon.png?w=32" sizes="32x32" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://recess-static.guildeducation.com" />
    <link rel="stylesheet" href="https://recess-static.<%= guildBaseUrl %>/recess-components.css" />
    <link
      rel="stylesheet"
      href="https://recess-static.<%= guildBaseUrl %>/<%= recessVersion %>/recess-tokens.css"
    />
    <link
      rel="stylesheet"
      href="https://recess-static.<%= guildBaseUrl %>/<%= recessVersion %>/recess-components.css"
    />
    <link
      rel="stylesheet"
      href="https://recess-static.<%= guildBaseUrl %>/<%= recessVersion %>/recess-styles.css"
    />
    <base href="/" />
    <%= segment %>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <%= root %>
  </body>
</html>
